@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <span style="margin-right: 10px;">
        Hello, @UserManager.GetUserName(User)!
    </span>

    <form asp-area="Identity" asp-page="/Account/Logout" method="post" style="display:inline;">
        <button type="submit" style="background:none;border:none;color:#fff;cursor:pointer;">
            Sair
        </button>
    </form>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login" style="margin-right: 10px;">Login</a>
    <a asp-area="Identity" asp-page="/Account/Register">Registrar</a>
}
